{% for abstract in abstracts %}
    <tr>
        <td>{{ abstract.id }}</td>
        <td>{{ abstract.abstract_title }}</td>
        <td>{{ abstract.submission_id }}</td>
        <td>{{ abstract.status }}</td>
        <td>{{ abstract.presentation_type }}</td>
        <td>{{ abstract.track }}</td>
        <td>{{ abstract.date_created|date:"Y-m-d H:i" }}</td>
        <td>
                {% for review in abstract.reviews.all %}
                    {% if abstract.status != Reviewed%}
                    <p>{{ review.comment|safe }}</p>
                    {% endif %}
                {% empty %}
                    Not reviewed yet.
                {% endfor %}
        </td>
        
        <td><a class="btn btn-sm btn-info" href="{% url 'edit_abstract' abstract.id %}">Update</a></td>
        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_abstract' abstract.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="9" class="text-center">No abstracts sbmitted</td>
    </tr>
{% endfor %}
