{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Abstract</title>
    <link href="{% static 'create_abstract.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Navbar inclusion -->
    {% include 'abstract/navbar.html' %}

    <div class="container mt-5">
        <h1>Create Abstract</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ abstract_form.as_p }}
            
            <div class="section-header">Authors</div>
            <div id="authors">
                {{ author_formset.management_form }}
                {% for form in author_formset %}
                    <div class="inline-form">
                        {{ form.as_p }}
                        <button type="button" class="btn btn-danger mt-2 remove-author">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-author" class="btn btn-success mt-2">Add Another Author</button>
            
            <div class="section-header mt-4">Presenters</div>
            <div id="presenters">
                {{ presenter_formset.management_form }}
                {% for form in presenter_formset %}
                    <div class="inline-form">
                        {{ form.as_p }}
                        <button type="button" class="btn btn-danger mt-2 remove-presenter">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-presenter" class="btn btn-success mt-2">Add Another Presenter</button>
            
            <!-- Submit and Cancel buttons -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'author_dashboard' %}" class="btn btn-secondary">Cancel</a>
            </div>
            
        </form>
    </div>
    

    <!-- JavaScript for dynamic form fields -->
    <script>
        var authorFormIndex = parseInt("{{ author_formset.total_form_count|default:0 }}") || 0;
        var presenterFormIndex = parseInt("{{ presenter_formset.total_form_count|default:0 }}") || 0;
    
        $('#add-author').click(function() {
            const newForm = `
                <div class="inline-form">
                    <label for="id_authorinformation_set-${authorFormIndex}-author_name">Author Name:</label>
                    <input type="text" name="authorinformation_set-${authorFormIndex}-author_name" id="id_authorinformation_set-${authorFormIndex}-author_name" class="form-control">
                    
                    <label for="id_authorinformation_set-${authorFormIndex}-email">Email:</label>
                    <input type="email" name="authorinformation_set-${authorFormIndex}-email" id="id_authorinformation_set-${authorFormIndex}-email" class="form-control">
                    
                    <label for="id_authorinformation_set-${authorFormIndex}-affiliation">Affiliation:</label>
                    <input type="text" name="authorinformation_set-${authorFormIndex}-affiliation" id="id_authorinformation_set-${authorFormIndex}-affiliation" class="form-control">
                    
                    <button type="button" class="btn btn-danger mt-2 remove-author">Remove</button>
                </div>`;
            $('#authors').append(newForm);
            authorFormIndex++;
            updateManagementForm('authorinformation_set', authorFormIndex);
        });

        $('#add-presenter').click(function() {
            const newForm = `
                <div class="inline-form">
                    <label for="id_presenterinformation_set-${presenterFormIndex}-name">Presenter Name:</label>
                    <input type="text" name="presenterinformation_set-${presenterFormIndex}-name" id="id_presenterinformation_set-${presenterFormIndex}-name" class="form-control">
                    
                    <label for="id_presenterinformation_set-${presenterFormIndex}-email">Email:</label>
                    <input type="email" name="presenterinformation_set-${presenterFormIndex}-email" id="id_presenterinformation_set-${presenterFormIndex}-email" class="form-control">
                    
                    <button type="button" class="btn btn-danger mt-2 remove-presenter">Remove</button>
                </div>`;
            $('#presenters').append(newForm);
            presenterFormIndex++;
            updateManagementForm('presenterinformation_set', presenterFormIndex);
        });

        function updateManagementForm(prefix, count) {
            $(`#id_${prefix}-TOTAL_FORMS`).val(count);
        }

        $(document).on('click', '.remove-author', function() {
            $(this).closest('.inline-form').remove();
            authorFormIndex--;
            updateManagementForm('authorinformation_set', authorFormIndex);
        });

        $(document).on('click', '.remove-presenter', function() {
            $(this).closest('.inline-form').remove();
            presenterFormIndex--;
            updateManagementForm('presenterinformation_set', presenterFormIndex);
        });
    </script>

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
